<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Cucumber and Selenium training</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="QA Instructor - Interactive Selenium courses" />
	<meta name="keywords" content="online selenium training, selenium courses, cucumber courses, selenium tutorial, cucumber tutorial, courses, online, web automation, online automation courses, qa, automation, training, selenium, cucumber, webdriver, ruby" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

  <meta name="alexaVerifyID" content="kxIP9gioEOGfA8u4tnW7naoZmYU"/>

	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "landing", :media => "all" %>

  <%= javascript_include_tag "landing/modernizr-2.6.2.min" %>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
  <%= javascript_include_tag "landing/respond.min" %>
	<![endif]-->

  <link rel="apple-touch-icon" sizes="57x57" href="/landing/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/landing/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/landing/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/landing/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/landing/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/landing/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/landing/images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/landing/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/landing/images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/landing/images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/landing/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/landing/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/landing/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/landing/images/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/landing/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

	</head>
	<body>
	<header role="banner" id="fh5co-header">
			<div class="container">
			    <nav class="navbar navbar-default">
		        <div class="navbar-header">
					      <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                <a class="navbar-brand" href="/">
                  <img class="logo-1 img-responsive" src="landing/images/logo-1.png" alt="QA Instructor"/>
                  <img class="logo-2 img-responsive" src="landing/images/logo-2.png" alt="QA Instructor"/>
                </a>
		        </div>
		        <div id="navbar" class="navbar-collapse collapse">
		          <ul class="nav navbar-nav navbar-right">
		            <li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
		            <li><a href="#" data-nav-section="about"><span>How it works</span></a></li>
		            <li><a href="#" data-nav-section="features"><span>Curriculum</span></a></li>
		            <li><a href="#" data-nav-section="services"><span>Features</span></a></li>
		            <li><a href="#" data-nav-section="testimonials"><span>Testimonials</span></a></li>
		            <li><a href="#" data-nav-section="pricing"><span>Pricing</span></a></li>
		            <li><a href="#" data-nav-section="press"><span>Try it for free</span></a></li>
		          </ul>
		        </div>
			    </nav>
		  </div>
	</header>

	<div id="slider" data-section="home">
		<div class="owl-carousel owl-carousel-fullwidth owl-theme owl-responsive--1 owl-loaded">
			<!-- You may change the background color here. -->
		    <div class="item" style="background: #352f44;">
		    	<div class="container" style="position: relative;">
		    		<div class="row">
					    <div class="col-md-8 col-sm-8">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
                    <h1 class="fh5co-lead to-animate">Web Automation Training</h1>
                    <h2 class="fh5co-sub-lead to-animate">
                      Average salary of QA Automation Engineer in San Francisco is <strong>$120,000 / year</strong>. Take our online course now to learn how to automate Web applications using <strong>Ruby</strong>, <strong>Cucumber</strong> and <strong>Selenium</strong>
                    </h2>
	  								<p class="to-animate-2">
                      <a href="/users/sign_up" class="btn btn-primary btn-lg">Try for free</a>
                      <span class="call-to-action-note">No commitments and no credit card required</span>
                      <br/>
                      <br/>
                      Already have an account? <a href="/users/sign_in">Sign in here</a>
                    </p>
						    	</div>
						    </div>
					    </div>

              <div class="col-md-4 col-sm-4 blogposts to-animate">
                <p class="fh5co-owl-text copyright">
                  New posts in <a href="https://blog.qainstructor.com" target="_blank">our blog</a>:
                </p>

                <p>
                  <h2>09/08/2016 - How to test a website</h2>
                  <p>Introduction to automated website testing. Whether you want to get started with QA automation or you are just tired of testing your website manually over and over again, this post should give you a good idea where to start.</p>
                  <p><a href="https://blog.qainstructor.com/how-to-test-a-website-e158b3260a95#.e9f1f5pml" target="_blank">Read more...</a></p>
              </div>
		    		</div>
		    	</div>
		    </div>
			<!-- You may change the background color here.  -->
		</div>
	</div>

	<div id="fh5co-about-us" data-section="about">
		<div class="container">
			<div class="row" id="about-us">
        <div class="container">
          <div class="row" class="clearfix">
            <div class="col-md-12 section-heading text-center">
              <h2 class="to-animate">How it works</h2>

              <div class="row">
                <div class="col-md-8 col-md-offset-2 to-animate">
                  <h3>30+ lessons and interactive coding exercises prepared by experienced automation engineers will teach you Ruby, Cucumber and Selenium and how to mix them together to automate Web applications.</h3>
                </div>
              </div>

              <div class="embed-responsive embed-responsive-16by9 to-animate">
                <video class="embed-responsive-item video-js vjs-default-skin vjs-big-play-centered video" controls="true" poster="<%= cf_asset_url('/videos/promo-video-16x9.png') %>" preload="none" width="800" height="500" data-setup="{}">
                  <source src="<%= cf_asset_url('/videos/promo-video-16x9.mp4') %>" type='video/mp4' />
                  <p>To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                </video>
              </div>
            </div>
          </div>
        </div>
      </div>
		</div>
	</div>

	<div id="fh5co-features" data-section="features">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="single-animate animate-features-1">Curriculum</h2>
					<div class="row">
						<div class="col-md-10 col-md-offset-1 single-animate animate-features-2">
              <h3>Our 30 lectures and exercises were carefully planned and optimized for high performance learning. You will start learning Ruby, continue mastering Cucumber and finish acing Selenium.</h3>
                <div class="row row-bottom-padded-sm">
                  <div class="col-md-4 fh5co-service to-animate">
                    <div class="fh5co-desc curriculum">
                      <h3>1. Ruby</h3>
                      <ol>
                        <li>Installation</li>
                        <li>Variables, arrays and hashes</li>
                        <li>Conditional operators</li>
                        <li>Blocks and loops</li>
                        <li>Regular expressions</li>
                        <li>Objects and methods</li>
                      </ol>
                    </div>
                  </div>
                  <div class="col-md-4 fh5co-service to-animate">
                    <div class="fh5co-desc curriculum">
                      <h3>2. Cucumber</h3>
                      <ol>
                        <li>Introduction</li>
                        <li>Gherkin</li>
                        <li>Exercise: Create scenario</li>
                        <li>Step definitions</li>
                        <li>Exercise: Create step definition</li>
                        <li>Code reusability</li>
                        <li>Exercise: Call other steps</li>
                        <li>Background</li>
                        <li>Exercise: Refactor feature</li>
                        <li>Scenario Outline</li>
                        <li>Exercise: Create scenario outline</li>
                        <li>Tables</li>
                        <li>Exercise: Subtraction table</li>
                      </ol>
                    </div>
                  </div>
                  <div class="col-md-4 fh5co-service to-animate">
                    <div class="fh5co-desc curriculum">
                      <h3>3. Selenium</h3>
                      <ol>
                        <li>Introduction</li>
                        <li>Controlling browser with Selenium</li>
                        <li>Visiting website pages</li>
                        <li>Exercise: Go to the sign in page</li>
                        <li>HTML, CSS and XPATH</li>
                        <li>Locating HTML elements</li>
                        <li>Verifying outcome</li>
                        <li>Exercise: Defuse the bomb</li>
                        <li>Filling in forms</li>
                        <li>Exercise: Create an account</li>
                        <li>Exercise: Test negative case</li>
                        <li>Waiting for elements to appear</li>
                        <li>Exercise: Wait for element</li>
                      </ol>
                    </div>
                  </div>
                </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-our-services" data-section="services">
		<div class="container">
			<div class="row row-bottom-padded-sm">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">What's included?</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 to-animate">
							<h3>We want you to be successful in your career. You will get access to all course materials including programming exercises. And there's more...</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="box to-animate">
						<div class="icon colored-2"><span><i class="icon-screen-desktop"></i></span></div>
						<h3>30+ lectures and coding exercises</h3>
						<p>Our primary goal is to teach you how to create automated tests for Web applications. We've carefully prepared 30+ lectures and hands-on interactive assignments. And we're constantly improving them.</p>
					</div>
					<div class="box to-animate">
						<div class="icon colored-4"><span><i class="icon-heart"></i></span></div>
						<h3>14 days money back</h3>
						<p>Not satisfied with the course? We will return your money within 14 days since you've started.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box to-animate">
						<div class="icon colored-1"><span><i class="icon-mustache"></i></span></div>
						<h3>Certificate of completion</h3>
						<p>Something to brag about and maybe put on the wall. Upon successful course completion, we will give you a certificate with your name.</p>
					</div>
					<div class="box to-animate">
						<div class="icon colored-5"><span><i class="icon-rocket"></i></span></div>
						<h3>Fast learning</h3>
            <p>We value your time, that's why Web Automation course is optimized for fast learning. An extensive set of programming exercises helps to reinforce the material and to get initial hands-on experience.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box to-animate">
						<div class="icon colored-3"><span><i class="icon-eye"></i></span></div>
						<h3>Cheatsheet</h3>
						<p>We understand that sometimes there's just too many details and it's really hard to keep them all in memory. That's why we've prepared ultimate cheatsheet with Cucumber and Selenium commands.</p>
					</div>
					<div class="box to-animate">
						<div class="icon colored-6"><span><i class="icon-user"></i></span></div>
						<h3>Support forums</h3>
						<p>If you're stuck for any reason, you don't need to feel lonely. There are support forums where other users can communicate with each other to help solve problems.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-testimonials" data-section="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Happy Clients Say</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>We are really proud to hear extremely positive feedback from our customers.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="box-testimony to-animate">
						<blockquote>
							<span class="quote"><span><i class="icon-quote-left"></i></span></span>
							<p>&ldquo;I was really impressed by the quality of this course. It's easy to understand all lessons because there are lots of code examples. Interactive exercises are very helpful to reinforce the material.&rdquo;</p>
						</blockquote>
						<p class="author">Alex Smirnov <span class="subtext">Senior QA Automation Engineer</span></p>
					</div>

				</div>
				<div class="col-md-4">
					<div class="box-testimony to-animate">
						<blockquote>
							<span class="quote"><span><i class="icon-quote-left"></i></span></span>
							<p>&ldquo;I've tried lots of other courses previously, but only this one gives you the real knowledge to be demanded on the job market. It's not only the theory, everything in this course is really hands-on. You can download code examples and almost after every lecture they ask you to complete coding assignment right in the browser.&rdquo;</p>
						</blockquote>
						<p class="author">Efim Shavratov <span class="subtext">Senior QA Automation Engineer</span></p>
					</div>


				</div>
				<div class="col-md-4">
					<div class="box-testimony to-animate">
						<blockquote>
							<span class="quote"><span><i class="icon-quote-left"></i></span></span>
							<p>&ldquo;This course is a gem. I used to be manual QA analyst and this course significantly helped me to advance my career. Even if you're not a technical person (like I was), it's very easy to understand course materials. After completing this course, I was able to create real scenarios to automate Web applications.&rdquo;</p>
						</blockquote>
						<p class="author">Debbie Wells <span class="subtext">QA Automation Engineer</span></p>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-pricing" data-section="pricing">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="single-animate animate-pricing-1">Pricing</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext single-animate animate-pricing-2">
              <h3>Limited time offer - sign up for a free trial and get $10 off this course.</h3>

              <div class="container col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 to-animate">
                <div class="price-box popular">
                  <div class="popular-text">One price</div>
                  <h2 class="pricing-plan">All in one</h2>
                  <div class="price"><s><sup class="currency">$</sup>39.00</s><sup class="currency">$</sup>29.00</div>
                  <p>Everything is included</p>
                  <hr>
                  <ul class="pricing-info">
                    <li>30+ lessons and exercises</li>
                    <li>90 minutes of video</li>
                    <li>Downloadable code examples</li>
                    <li>Cheatsheet</li>
                    <li>Support Forums</li>
                    <li>Certificate of completion</li>
                    <li>14 days money back guarantee</li>
                  </ul>
                  <a href="#" data-nav-section="press" class="btn btn-primary btn-sm">Get started</a>
                </div>
              </div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-press" data-section="press">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="single-animate animate-press-1">Try it for free</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext single-animate animate-press-2">
							<h3>Interested? Give it a try. It's abolutely free - no commitment and no credit card required. Click button below to create free account.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
        <div class="col-md-12 text-center">
          <form action='/users/sign_up' method='get'>
            <input type="submit" data-nav-section="press" class="btn btn-primary btn-lg" value="Create free account" />
          </form>
        </div>
			</div>
		</div>
	</div>

	<footer id="footer" role="contentinfo">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<p class="copyright">
            QA Instructor - Web Automation Courses
          </p>

          <p class="copyright">
            Have questions? Contact us at <a href="mailto:info@qainstructor.com">info@qainstructor.com</a>
          </p>

					<ul class="social social-circle">
						<li><a href="https://twitter.com/qainstructor"><i class="icon-twitter"></i></a></li>
						<li><a href="https://www.facebook.com/qainstructor/"><i class="icon-facebook"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

  <%= javascript_include_tag "landing" %>


  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71783817-3', 'auto');
    ga('send', 'pageview');

  </script>

<!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','nvi0i');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->

	</body>
</html>
